.phase-number-container {
  border-radius: 50%;
  padding: 10px;
  background: black;
  border: 3px solid #000;
  color: white;
  text-align: center;
  width: 34px;
  height: 34px;
  font: 32px Arial, sans-serif;
}
